* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  width: 1440px;
  /* margin-inline: auto; */
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  padding: 4rem;
  display: grid;
  grid-template-areas: 'sidebar main main';
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: sidebar;
}

main {
  grid-area: main;
}
/*
aside > * {
 width:368px;
}
*/

.profile {
  text-align: center;
  padding: 3.2rem 7.6rem;
  background-color: var(--bg-cards);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.profile__image {
  border-radius: 50%;
  width: 12.8rem;
  border: 2px solid #00ff00;
}

.profile__title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-block: 3rem 1rem;
}

.navigation {
  padding: 3.2rem 4rem;
  background-color: var(--bg-cards);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: var(--text-color);
  stroke: var(--text-color);
}

.navigation__link::before {
  content: '';
  width: 24px;
  height: 24px;
  padding-left: 2.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: padding-box;
}

.navigation__link--locale::before {
  background-image: url('./img/map-pin.svg');
}

.navigation__link--vocation::before {
  background-image: url('./img/briefcase.svg');
}

.navigation__link--github::before {
  background-image: url('./img/github.svg');
}

.navigation__link--linkedin::before {
  background-image: url('./img/linkedin.svg');
}

.navigation__link--twitter::before {
  background-image: url('./img/twitter.svg');
}

.navigation__link--site::before {
  background-image: url('./img/globe.svg');
}

.navigation__link--email::before {
  background-image: url('./img/mail.svg');
}

.technologies {
  background-color: var(--bg-cards);
  padding: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.technologies__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.technologies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.technologies__item {
  border-radius: 3rem;
  background-color: var(--bg-techs);
  padding: 0.7rem;
  width: 28%;
  text-align: center;
}

.technologies__item .technologies__link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.experiencies,
.education {
  padding: 3rem 2rem;
  background-color: var(--bg-cards);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experiencies__title,
.education__title {
  font-size: 2rem;
  font-weight: 700;
}

.experiencies__description-list,
.education__description-list {
  margin: 2rem 0 0 4rem;
}

.description-list__data {
  margin-bottom: 1.5rem;
}

.description-list__data-experience {
  display: block;
  font-weight: 700;
}

.description-list__term {
  display: list-item;
  font-weight: 700;
  list-style-type: disc;
}
