/**GERAL**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
  padding: 4rem;
  display: grid;
  grid-template-areas: 'sidebar main main';
  grid-template-columns: auto 1fr 1fr;
  gap: 6rem;
}

aside,
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

aside > section {
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  background-color: var(--bg-cards);
  width: 100%;
  max-width: 395px;
}

main section > div {
  background-color: var(--bg-cards);
  display: grid;
  padding: 3rem 4rem;
  border-radius: 2rem;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

ul {
  list-style: none;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.technologies,
.experiencies,
.education {
  padding: 3rem 2rem;
}
.projects__title,
.posts__title {
  background-color: var(--bg-cards);
  padding: 3rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.profile__image,
.posts__card-image {
  border-radius: 50%;
  width: 12.8rem;
}

/*
aside > * {
  width:368px;
}
*/

/**ESPECIFICO**/

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

/****ASIDE****/
.profile {
  text-align: center;
  padding: 3.2rem 7.6rem;
}

.profile__image {
  border: 2px solid #00ff00;
}

.profile__title {
  font-size: 2.3rem;
  margin-block: 3rem 1rem;
}

.navigation {
  padding: 3.2rem 4rem;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.navigation__link {
  stroke: var(--text-color);
}

.navigation__link::before {
  content: '';
  padding-left: 2.4rem;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: padding-box;
}

.navigation__link--locale::before {
  background-image: url('./img/map-pin.svg');
}

.navigation__link--vocation::before {
  background-image: url('./img/briefcase.svg');
}

.navigation__link--github::before {
  background-image: url('./img/github.svg');
}

.navigation__link--linkedin::before {
  background-image: url('./img/linkedin.svg');
}

.navigation__link--twitter::before {
  background-image: url('./img/twitter.svg');
}

.navigation__link--site::before {
  background-image: url('./img/globe.svg');
}

.navigation__link--email::before {
  background-image: url('./img/mail.svg');
}

.technologies__title {
  margin-bottom: 2rem;
}

.technologies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.technologies__item {
  border-radius: 3rem;
  background-color: var(--bg-techs);
  padding: 0.7rem;
  width: 28%;
  text-align: center;
}

.technologies__item .technologies__link {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.experiencies,
.education {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experiencies__description-list,
.education__description-list {
  margin: 2rem 0 0 4rem;
}

.description-list__data {
  margin-bottom: 1.5rem;
}

.description-list__data-experience {
  display: block;
  font-weight: 700;
}

.description-list__term {
  display: list-item;
  font-weight: 700;
  list-style-type: disc;
}

/****MAIN****/

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.projects__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
}

.projects__title a {
  font-size: 1.4rem;
}

.projects__card {
  grid-column: span 1;
}

.projects-card__title {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  grid-column: span 2;
}

.projects-card__title::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-right: 1.6rem;
  background-image: url('./img/folder.svg');
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: padding-box;
}

.projects-card__text {
  font-size: 1.4rem;
  grid-column: span 2;
}

.projects-card__datas {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.projects-card__datas i {
  margin-inline: 1.6rem 0.8rem;
}
.projects-card__datas i:nth-of-type(1) {
  margin-left: 0;
}

.projects-card__technology {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.projects-card__technology::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  padding-right: 0.8rem;
  background-image: url('./img/yellow-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.posts__card {
  grid-template-areas: 'image content';
}

.posts__card-image {
  grid-area: image;
}

.posts__card-content {
  grid-area: content;
}

.posts__card-title {
  font-size: 1.8rem;
}

.posts__card-time {
  font-size: 1.4rem;
  display: inline-block;
  margin-block: 1rem 3rem;
}
.posts__card-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.posts__card-list {
  display: flex;
  gap: 1rem;
}

.posts__card-item {
  font-size: 1.4rem;
  align-items: flex-start;
}
